# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
certifi=2019.3.9=py27_0
django=1.8.4=py27_0
pillow=6.0.0=pypi_0
pip=19.1.1=py27_0
python=2.7.16=hcb6e200_0
setuptools=41.0.1=py27_0
sqlite=3.28.0=h0c8e037_0
vc=9=h7299396_1
vs2008_runtime=9.00.30729.1=hfaea7d5_1
wheel=0.33.4=py27_0
wincertstore=0.2=py27hf04cefb_0
